<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Century Gothic;
            background-image: linear-gradient(rgba(0,4,40,0.9),rgba(0,78,146,0.9));
            height: 100vh;
            background-size: cover;
            background-position: center;
        }
    </style>    
</head>

<script>

function myFunction() {
var question= $('#question').val();
  $.ajax({
              url: "/join",
              type: "POST",
              data: {question:question}

          }).done(function(response) {

            var html= "<br><br><br><p> <b> RESULT : <b><p>";

            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"

                });
                html +="<br>";
                $(".show-data").append(html);
            });
};

  </script>
<body style="text-align: center;">
    <p style="color: white; font-weight: 300;">
        Welcome to the search engine. <br>Type anything down below to get information on it. <br><br><input type="text" id="question" name="question"><br><br>
            <button id="clicked" onclick="myFunction()">Submit</button>
        </p>
    <div class="show-data" >

    </div>
</body>
</html>